.btn{
    -fx-background-color:#A33AFF;
    -fx-text-fill:white;
}
.add-btn{
    -fx-background-color:black;
    -fx-text-fill:white;
}
.add-btn:hover{
    -fx-background-color: #403f3f;
}
.btn:hover{
    -fx-background-color:#A55AFF;
}
.logout-btn{
    -fx-background-color: transparent;
    -fx-text-fill: #424242;
}
.logout-btn:hover{
    -fx-cursor: hand;
    -fx-text-fill:#757575;
}

.split-menu-button .label{
    -fx-background-color: transparent;
}
.split-menu-button{
    -fx-background-color: transparent;
}
.table-view{
    -fx-background-color: transparent;
}
.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header,.table-view .filler{
    -fx-background-color: transparent;
}
.table-row-cell{
    -fx-background-color: transparent;
-fx-cell-size: 130;
    -fx-padding: 25 10 10 10;
    -fx-border-color: #dedede transparent #dedede transparent;
    -fx-border-width: 0.5px;
-fx-font-size: 16px;
}
/*.table-column{
    -fx-pref-width: 200;
    -fx-border-color: transparent;
}*/
.col-t{
-fx-text-fill: black;
    -fx-font-size:19px;
    -fx-font-weight: bold;
    -fx-pref-width: 200;
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 30;
}


.col-i{
    -fx-pref-width: 180;
    -fx-padding: 0 0 0 80;
}

.col-d{
    -fx-pref-width: 600;
    -fx-text-fill: #7a7a7a;
}
.col-b{
    -fx-pref-width: 200;

 -fx-background-color: red;
}
.col-is{
    -fx-pref-width: 200;
    -fx-padding: 0 80 0 0;
}
.table-row-cell:hover{
    -fx-background-color: #ededed;
    -fx-cursor: hand;
}
.table-view:focused .table-row-cell:selected {
    -fx-background-color: transparent ;
    -fx-table-cell-border-color: transparent;

}
.table-view:focused .table-row-cell {
    -fx-table-cell-border-color: transparent;

}
.table-view:focused .table-row-cell:selected .table-cell{
    -fx-text-fill: black;
}

.table-view .scroll-bar:vertical > .increment-button,
.table-view .scroll-bar:vertical > .decrement-button {
    -fx-background-color: transparent;

}

.table-view .scroll-bar{
    -fx-background-color: transparent;
}
.table-view .scroll-bar:vertical .thumb{
    -fx-background-color: transparent;
}
.table-view  .scroll-bar .increment-arrow,
.table-view  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

.btn_back{
    -fx-graphic: url(arrow123.png);
    -fx-background-color: transparent;
}
.btn_back:hover{
    -fx-cursor: hand;
}

.cool{
    -fx-text-fill: red;
}
.col_img {

}
