.titled > .title
{
    -fx-background-color:transparent;

}

.titled-nd> *.content{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.txt{
    -fx-background-color: transparent;
    -fx-text-fill: gray;
}
.txt:hover{
    -fx-background-color:#d9d9d9;
}
.lbl{
    -fx-border-color: gray;
    -fx-border-width: 2px;
}
.pane{
    -fx-background-color: white;
    /* -fx-border-color: #d9d9d9;*/

}

.titled> .title > .arrow-button
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em;
}
.titled> .title > .arrow-button>.arrow
{
    -fx-background-color: #A33AFF;
    -fx-translate-x: 100;

}
.titled > *.content{
    -fx-background-color: white;
    -fx-border-color: white;

}

.btn{
    -fx-background-color:#A33AFF;
    -fx-text-fill:white;
}
.add-btn{
    -fx-background-color:black;
    -fx-text-fill:white;
}
.add-btn:hover{
    -fx-background-color: #403f3f;
}
.btn:hover{
    -fx-background-color:#A55AFF;
}


.logout-btn{
    -fx-background-color: transparent;
    -fx-text-fill:#949392;
}
.logout-btn:hover{
    -fx-cursor: hand;
    -fx-text-fill:#403f3f ;
}
.table{
    -fx-background-color: transparent;
}
.check-box{
    -fx-text-fill:gray;
}
.check-box:selected{
    -fx-text-fill:black;
}

.check-box:hover{
    -fx-text-fill:black;

}

.check-box .box {

    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-border-radius:3px;
    -fx-cell-size: 6px;
    -fx-scale-x: 0.6;
    -fx-scale-y:0.6;
    -fx-translate-x: 15;


}

.check-box:selected .mark {

    -fx-background-color: black;

}


